Flask~=1.1.2
Flask-Caching
flask-cors
Flask-Dance[sqla]>=4.0.0
flask-login
flask_sqlalchemy
Flask-WTF
gevent
gunicorn
Pillow~=8.2.0
SQLAlchemy==1.4.12
WTForms~=2.3.3
httpx

# Dev-only dependencies
pylint

requests~=2.25.1
